clouds:
  OP :
    auth:
      auth_url: http://{{groups['contoller'][0]}}:35357/v3
      project_name: admin
      username: admin
      password: {{ADMIN_PASS}}
      domain_name : default
    region_name: RegionOne
    identity_api_version: 3
