clouds:
  OP :
    auth:
      auth_url: http://{{groups['contoller'][0]}}:5000/v3/
      project_name: admin
      username: admin
      password: {{ADMIN_PASS}}
      domain_name: default
    region_name: RegionOne
